<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Movie Review Site</title>
    <link rel="stylsheet"
  </head>
  <body>
    <div class="content">
      <header>

        <nav> 
          <a href="#">Home</a>
          <a href="/movie">New movie</a>
          <a href="#">Login</a>
        </nav>

        <hgroup>
          <h1>Movie Review</h1>
          <h3>Create with nodejs</h3>
        </hgroup>

      </header>

      <section>

      <% movies.forEach((movie) => { %>
        <article> 
          <header>
            <h2><%=movie.title%></h2>
          </header>
          <figure>
            <img src="<%=movie.image%>" alt="" width="100">
            <figcaption>
              <%=movie.description%>
            </figcaption>
          </figure>
          <footer>
            
          </footer>
        </article>
      <% }); %>
      </section>

      <aside>
        <blockquote>Categoria</blockquote>
      </aside>

      <footer>
        &copy; Reserver all Daniel Vera
      </footer>
    </div>
  </body>
</html>