<%- include('header.ejs') %>
    <%=message%>
    <form action="/movie" method="POST">
      <label for="title">Title</label>
      <input id="title" name="title" />

      <label for="author">Author</label>
      <input id="author" name="author" />

      <label for="description">Description</label>
      <textarea id="description" name="description"></textarea>

      <label for="year">Year</label>
      <input id="year" name="year" />

      <label for="image">Image</label>
      <input id="image" name="image"/>

      <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>